body{
  background-color: white
}


h1{
  text-align: center;
  font-size: 50px;
}
  #fondo{
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;


  }
  img{
    padding: 10px;
  float:left;
  }
