body{
  background-color: cyan;
  width: 800px;

}

#nav{
  height: 100px;
  width: 800px;
  background-color: red;
}


#contenedor{
  height: 600px;
  width: 800;
  background-color: red;
}

.boletes{
 height: 100px;
 width: 100px;
 border-radius: 50px;
 text-align: center;
 color: white;
 line-height: 90px;
 font-size: 25px;

}

#b1{
  background-color: purple;
  float: left;
  margin-left: 200px;
}

#b2{
  background-color: navy;
  float: left;
}
#b3{
  background-color: orange;
  float: left;
}
#b4{
  background-color: yellow;
  float: left;

}

#caja1{
  background-color: navy;
  float: left;
}

#caja2{
  background-color: orange;
  float: left;
}



.cajas{
  width: 400px;
  height: 400px;
  font-family: sans-serif;
  color: white;
  line-height: 350px;
  text-align: center;
  font-size: 50px;
}


#footer{
  background-color: green;
  width: 800px;
  height: 100px;
  font-family: fantasy;
  font-size: 30px;
  text-align: center;
  clear: both;
  color: white;
  line-height: 100px;

}

.boletes:hover{
  color: orange;
  opacity: 50%;
}
